/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: #2a2a2a;
}

/* Navigation */
#SiteNav {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 15px;
    position: absolute;
    margin-left: 40px;
}

#NavUl {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-top: 40px;
    position: fixed;
}

.NavUlLi3 {
    position: fixed;
    bottom: 40px;
}


/* Body */
main {
    margin-left: 140px;
    margin-right: 40px;
    padding-top: 200px;
}

.content {
    /* max-width: calc(1vh - 180px);  Idk how to adjust this properly ...yet */
    margin: auto;
}

.PrjtLbl p {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 180px;
    font-weight: 500;
    margin: 0;
    /* text-indent: 80px; */
    /* rotate: -90deg; */
}

/*
Make Responsive
.PrjtImg img {
    width: 100%;
    height: auto;
} */














#cntct {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 180px;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
}

#cntctInfo {
    width: 30%;
    text-justify: auto;
}

#resume {
    font-weight: 700;
}



/* Footer */
footer {
    margin-left: 140px;
    position: fixed;
    bottom: 40px;
    right: 40px;
}