@import url('./Fonts.css');
/* @import 'Fonts.css'; */

* {
    margin: 0;
    background-color: #f2f2f2;
    font-family: 'Quicksand-Regular', sans-serif;
}

/* -------------------------------- PHONE -------------------------------- */
@media only screen and (max-width: 420px){}

/* -------------------------------- TABLET -------------------------------- */
@media only screen and (min-width: 420px) and (max-width:800px){}

/* -------------------------------- DESKTOP -------------------------------- */
@media only screen and (min-width: 800px){
    /* -------------------------------- HOME -------------------------------- */
    #logoDiv {
        position: fixed;
    }
    
    #duLogo {
        width: 45px;
        display: block;
        padding: 17px;
        /* position: fixed; */
    }

    #bodyDiv {
        padding-top: 70px;
    }

    #centerCntnr {
        position: relative;
        margin: auto;
        background-color: aquamarine;
    }

    #FlexGridHome {
        display: flex;
        flex-flow: wrap;
        margin: 0 80px;
        /* justify-content: space-between; */
        /* height: 2000px; */
        gap: 20px;
        border: blue solid 1px;
    }

    .boxH1 {
        border: red solid 1px;
        border-radius: 10px;
        height: 500px;
        overflow: hidden;
    }

    .break {
        flex-basis: 100%;
        height: 0;
        gap: 0;
    }

    img {
        max-width: 100%;
        /* object-fit: contain;
        aspect-ratio: 2/1; */
    }

    .sameBox1 {
        /* width: 500px; */
        flex: 2;
    }

    .sameBox2 {
        /* width: 25%; */
        flex: 1;
    }

    .soloBox1 {
        flex: 3;
    }

    .sameBox3 {
        flex: 3;
    }

    .soloBox2 {
        width: 100%;
    }


    /* .FlexGridQuad {
        display: flex;
        flex-flow: column wrap;
        margin: 0 80px;
        justify-content: space-between;
        height: 750px;
        gap: 20px;
    }

    .FlexGridQuad .quadCol {
        border: red solid 1px;
        border-radius: 10px;
        height: 300px;
    }

    .quadCol1-4 {
        flex-grow: 2;
    } */

    

    /* -------------------------------- PROJECTS 1-2 -------------------------------- */
    .FlexGridTop {
        display: flex;
        /* border: blue solid 1px; */
        margin: 0 80px;
    }

    .FlexGridTop .col {
        flex: 1;
        text-align: center;
        padding: 25px;
    }

    .col1 {
        background-color: #dfdfdf;
        height: 300px;
        border-radius: 10px;
    }

    .col1-2 {
        margin: 40px;
        font-family: 'Quicksand-Regular', sans-serif;
    }

    .col1-3 {
        background-color: #dfdfdf;
        height: 500px;
        border-radius: 10px;
    }

    /* -------------------------------- EMAIL MOCKS -------------------------------- */
    .FlexGridTop .col {
        flex: 1;
        justify-content: space-between;
        width: 45%;
    }
    
    .FlexGridQuad {
        display: flex;
        flex-flow: column wrap;
        /* border: blue solid 1px; */
        margin: 0 80px;
        justify-content: space-between;
        height: 750px;
        gap: 20px;
    }

    .FlexGridQuad .quadCol {
        border: red solid 1px;
        border-radius: 10px;
        height: 300px;
    }

    .quadCol1-4 {
        flex-grow: 2;
    }

    /* -------------------------------- MOD PROJECT -------------------------------- */
    .FlexGridQuadRow {
        display: flex;
        flex-flow: row wrap;
        margin: 0 80px;
        border: blue solid 1px;
        justify-content: space-between;
        gap: 20px;
    }

    .FlexGridQuadRow .quadRow {
        border: green solid 1px;
        border-radius: 10px;
        /* flex: 1; */
        height: 300px;
        width: 48%;
    }

    .quadRow3 {
        flex-grow: 4;
    }

    /* -------------------------------- CONTACT/RESUME -------------------------------- */
    #resume table {
        margin: 0 auto;
    }

/* cellspacing="0" cellpadding="0" width="800px" align="center" */
}