/* SCROLLBAR */
/* ::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: #ffffff00;
    border-radius: 100vw;
    margin-block: 5em;
}

::-webkit-scrollbar-thumb {
    background: #5376732d;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: #53767349;
} */

/* #mainShape {
    
    z-index: -2;
    border-left: 1300px solid #5376732d;
    border-right: 100px solid transparent;
    border-bottom: 600px solid transparent;
    border-top: 300px solid transparent;
    transform: rotate(24deg);
    position: absolute;
} *//* background-color: aquamarine; */
    /* width: 0; */
    /* height: 0; */


/* MAIN */
#mainSect1 {
    /* background-color: darkgoldenrod; */
    /* margin-top: 100px; */
    /* padding: 50px 150px 30px 235px;
    font-weight: 300;
    font-size: 13pt; */
}

#mainImg > img {
    /* z-index: -1;
    width: 1000px;
    height: 500px; */
    /* position: absolute; */
    /* right: 0; */
}

#mainWrpr {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content(300px, auto);
    gap: 10px;
    margin: 0 20em; */
}

.box {
    /* border: 1px solid red;
    padding: 10px; */
}

.box1 {
    /* grid-column: 1/3;
    grid-row: 1/5; */
}

.box2 {
    /* grid-column: 3/4;
    grid-row: 1/2; */
}

#figBox2 {
    /* padding-right: 10px;
    height: 0; */
}

/* #figBox2 > h3 {
    float: right;
} */

.box3 {
    /* grid-column: 3/4;
    grid-row: 2/3; */
}

.box4 {
    /* grid-column: 3/4;
    grid-row: 3/4; */
}

.box5 {
    /* grid-column: 3/4;
    grid-row: 4/5; */
}

figcaption {
    /* font-weight: 500;
    font-size: 9pt;
    padding-bottom: 10px; */
}