* {
    margin: 0;
    color: black;
    font-family: sans-serif;
}

header {
    /* background-color: white; */
    width: 100%;
    height: 50px;
    /* box-shadow: 0 3px 3px #0000001d; */
    position: fixed;
}

#webNav {
    margin: auto 40px;
    line-height: 50px;
}

#links {
    float: right;
    transform: rotate(90deg);
    z-index: 1;
    position: relative;
    top: 100px;
    right: -90px;
}

#links > a {
    margin-right: 30px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

#linksName {
    font-weight: 600;
    text-transform: uppercase;
}

/* BLOGS */
/* .parallax {
    background-image: url("assets/pexels-diana-light-7296698.jpg");
    min-height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

#wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 1em;
    overflow: hidden;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    margin: 20px 190px;
}

.blog {
    width: 300px;
    height: 450px;
    background-color: #535151;
    /* box-shadow: 3px 3px 3px #00000011; */
    border-radius: 5px;
}

.date {
    transform: rotate(-90deg);
    position: static;
    /* top: 50%; */
    float: left;
    text-shadow: 1px 1px 2px #ffffff96;
    font-weight: 600;
}

/* STORIES */
.storiesParallax {
    background-image: url("assets/pexels-diana-light-7296698.jpg");
    min-height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.storyCntnr {
    margin: auto;
    width: 50%;
    padding-top: 45px;
}

.storyCntnr > h2, p {
    padding: 5px 0;
}

.storyGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 1em;
    overflow: hidden;
    justify-content: space-evenly;
    justify-items: center;
    align-content: flex-start;
}

/* FOOTER */
footer {
    background-color: aqua;
}